@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}


.header {
    @apply flex justify-between p-4 bg-orange-400 shadow-md;
}
h1{
    font-weight: 800;
    font-size: large;
}

.navbar {
    @apply flex gap-6 mx-5
   
   

}

.main {
    background-color: #ABEBC6 ;
    text-align: center;
    padding: 30px;
    justify-content: center;
}

.imagen{
    text-align: center;
    height: 400px;
    width: 600px;
    margin-top: 20px;
}


.numero{
    background-color: white;
    border-radius: 90%;
}

.card-container{
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-8;
}

.cardBody{
    

        @apply p-2 shadow-md space-y-8 rounded-sm hover:scale-105 transition-all;
    
        &__cardTitle {
            @apply text-xl font-bold overflow-hidden whitespace-nowrap overflow-ellipsis;
        }
    
        &__card-img {
            @apply h-[150px] object-contain w-full;
        }
    }

    .boton{
        background-color: red;
        
    }
    